{% extends 'base.html.twig' %}

{% block title %} Contacts {% endblock %}

{% form_theme contact_form 'bootstrap_5_layout.html.twig' %}

{% block body %}

        <div class="main-content p-5">

                    {# afficher les msg flash qui disparaissent au fur et à mesure #}

                    {% for msg in app.flashes('confirmation') %}
                                <div class="alert alert-success">
                                        {{ msg }}
        </div>

                    {% endfor %}

                    {{ form(contact_form, {attr: {'novalidate': 'novalidate'}}) }}


        </div>
        
{% endblock %}
